@model IEnumerable<LorensHuculak_ASP.Models.Car>

@{
    ViewData["Title"] = "Brands";
}

<h2>Brands</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var brand in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayFor(brandItem => brand.CarType.FullBrand)
                </th>

            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(brandItem => brand.LicensePlate)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicensePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarType.CarTypeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerID)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CarID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CarID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CarID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}