@model CarListViewModel

@{
    ViewData["Title"] = "Cars";
}

<h2 class="whitespace">Cars</h2>

<p>
    <a class="addbtn " asp-controller="Cars" asp-action="Details" asp-route-id="0">Add Car</a>
</p>



<table class="table whitespace">
    <thead>
        <tr>

            <th>
              License Plate
            </th>

            <th>
               Owner
            </th>
            <th>
               Model
            </th>
            <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>

            <td>
                <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id">Edit</a>
          
            </td>
            <td>
                <a class="delbtn" asp-controller="Cars" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>



